<% if current_user %>
  <h3>Bienvenido: <%= current_user.email %></h3>
  <% if @current_user_plan %>
    <h4>Ya tiene activo el plan: <%= @current_user_plan.type_plan.name %></h4>
    <p>Vencimiento: <%= @current_user_plan.end_date %></p>
  <% else %>
    <h4>No tiene un plan activo</h4>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @plans.each do |plan| %>
        <div class="well well-lg">
          <h4>Plan <%= plan.name %></h4>
          <div class="row">
            <div class="col-md-9">
              <p>Si activas hoy el Plan <%= plan.name %>, tendrá validez hasta el día <%= (Date.current() + 60).to_formatted_s(:iso8601) %></p>
              <p>Precio: <%= number_to_currency(plan.price) %></p>
            </div>
            <div class="col-md-3">
              <%= link_to "Activar", user_plans_path(type_plan_id: plan.id), method: :post, class: "btn btn-primary", data: { confirm: "¿Está seguro de activar este plan? "} %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron">
    <h2>Bienvenido a Clud-Business</h2>
    <p class="lead">
      Una nueva forma de administrar su negocio.
    </p>
  </div>

  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
        <h2>Plan gratuito</h2>
        <div class="price pull-right">
          Precio: $0
        </div>
        <div class="features">
          <ul>
            <li>Acceso a todas las funciones</li>
            <li>Movimientos y usuarios ilimitados</li>
            <li>Período de prueba: 60 días</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Elegir', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
      <div class="col-lg-3 plan">
        <h2>Plan Premium</h2>
        <div class="price pull-right">
          Precio: $750/mes
        </div>
        <div class="features">
          <ul>
            <li>Todas las funciones del plan gratuito</li>
            <li>Soporte 24x7</li>
            <li>Back-up diarios</li>
            <li class='extra'>Prueba nuevas funciones antes</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Elegir', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>
  </div>
<% end %>